#root {
  max-width: 100%;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
}
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  text-align: center;

}
ul{
  list-style: none;
  display: flex;

}
ul li{
  padding: 2em;
}
h1{
  padding-left: 1em;
}

